In [ ]:
"""Selection Sort"""
def pilihan_urutan(alist):
  for gap in range(0,len(alist)-1):
    posisi=gap
    for point in range(gap+1,len(alist)):
      if alist[point]<alist[posisi]:
        posisi = point

    temp = alist[gap]
    alist[gap] = alist[posisi]
    alist[posisi] = temp
    print(alist)
number = [7,4,2,6,1,12,5,9]
pilihan_urutan(number)
print(number)

[1, 4, 2, 6, 7, 12, 5, 9]
[1, 2, 4, 6, 7, 12, 5, 9]
[1, 2, 4, 6, 7, 12, 5, 9]
[1, 2, 4, 5, 7, 12, 6, 9]
[1, 2, 4, 5, 6, 12, 7, 9]
[1, 2, 4, 5, 6, 7, 12, 9]
[1, 2, 4, 5, 6, 7, 9, 12]
[1, 2, 4, 5, 6, 7, 9, 12]

In [ ]:
"""TUPLE"""
# variabel
tup1 = ('Joko','Semarang',1980,'Wiraswasta')
tup2 = ('Veronika','Papua Barat',1995,'Pegawai Negeri')
tup3 = ('Ahmad','Aceh',2005,'Pelajar')
tup4 = ('a','b','c')
tup5 = (1,2,3)

# penjumlahan
print(tup4 + tup5)

# menghitung jumlah data
print(len(tup4))

# mengkalikan variabel
print(tup4 * 2)

# mencari data termasuk di dalam variabel atau tidak
print(5 in (tup5))

print ('Nama',tup1[0],'lahir di',tup1[1],'tahun',tup1[2],'pekerjaan',tup1[3],'.')
print (tup2[1:3]) #hasil print pada indeks 1-2, bagian 3 tidak dihasilkan

('a', 'b', 'c', 1, 2, 3)
3
('a', 'b', 'c', 'a', 'b', 'c')
False
Nama Joko lahir di Semarang tahun 1980 pekerjaan Wiraswasta .
('Papua Barat', 1995)

In [54]:
"""DICTIONARY"""
dict1 = {'fname': 'Iqbal','lname': 'Yusuf','age' : 17,'kelas': 'Teknik Informatika', 'mata_kuliah': 'Struktur Data' }
dict2 = {'name': 'avanza', 'merk': 'toyota', 'warna': 'silver', 'type':'G'}
all_kunci1 = dict1.keys()
all_nilai2 = dict2.values()

for kunci, nilai in dict1.items():
  print(kunci, ":", nilai,)

print('\nFullname :',dict1['fname'],dict1['lname'])
print('\nMobil saya adalah',dict2['name'],'dan bermerk',dict2['merk'],'.','Warnanya',dict2['warna'],'serta bertipe',dict2['type'])

fname : Iqbal
lname : Yusuf
age : 17
kelas : Teknik Informatika
mata_kuliah : Struktur Data

Fullname : Iqbal Yusuf

Mobil saya adalah avanza dan bermerk toyota . Warnanya silver serta bertipe G